@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

#wadah * {
	border-radius: 10px !important;
}

body {
	background-image: url('clouds.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-color: #BFDFEC;
	font-family: 'Slabo 27px', serif;
}

#wadah {
	width: 960px;
	/*background-color: #34675c;*/
	margin-right: auto;
	margin-left: auto;
}

#header {
	height: 150px;
	/*background-color: #555;*/
	background-image: url('haha.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	-ms-background-position-y: 0;
	background-position-y: 0;
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 3px 3px 0px #333;
	box-shadow: 1px 3px 3px 0px #333;
	-webkit-filter: hue-rotate(100deg);
	filter: hue-rotate(100deg);
}

#header img {
	max-height: 100%;
	-webkit-filter: hue-rotate(266deg);
	filter: hue-rotate(266deg);
}

.sekat{
	display: table;
	content: '';
	clear: both;
}

#menukiri{
	width: 200px;
	/*background-color: #34675c;*/
	height: auto;
	display: inline-block;
	float: left;
}

#conten {
	width: 760px;
	min-height: auto;
	/*background-color: #98dbc6;*/
	display: inline-block;
	float: left;
}

#footer {
	height: 50px;
	background-color: #555;
	text-align: center;
	line-height: 50px;
	color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 1px 3px 3px 0px #333;
	box-shadow: 1px 3px 3px 0px #333;
}

#header h1 {
	color: #eee;
	font-family: Helvetica;
	font-size: 50px;
	margin: 0;
	padding-top: 20px;
	padding-left: 100px;
}
#menukiri a{
	height: 30px;
	padding: 10px 0px;
	display: block;
	width: 200px;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
	background-color: #008cba;
	border-bottom: 2px solid #333;
	margin-bottom: 5px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 3px 0px #333;
    box-shadow: 2px 2px 3px 0px #333;
}

#menukiri a:hover, 
#menukiri a.aktif {
	background-color: #016b8e;
}
#spasi {
	padding: 0px 10px 10px 24px;
	color: #555;
}
#spasi a{
	width: 230px;
	display: inline-block;
	margin: 0 5px 20px 5px;
	text-decoration: none;
	opacity: 0.7;
}
#spasi a:hover {
	opacity: 1;
}
#spasi a img{
	width: 100%;
	max-height: 150px;
	-webkit-box-shadow: 2px 2px 3px 0px #333;
    box-shadow: 2px 2px 3px 0px #333;
}
#spasi a p{
	color: #555;
	margin: 0;
	text-align: center;
}
.terserah{
	max-height: 185px;
}
.kekiri {
	float: left;
	margin-right: 10px;
}
#spasi h2{
	margin: 0 0 10px;
	font-size: 25px;
    text-align: center;
}
#spasi p{
	margin: 10px 0;
	text-align: justify;
}
img[rel] {
	opacity: .9;
	margin-right: 10px;
	-webkit-box-shadow: 2px 2px 3px 0px #333;
    box-shadow: 2px 2px 3px 0px #333;
}
img[rel]:hover {
	cursor: pointer;
	opacity: 1;
}

@media (max-width: 768px) {
	#wadah, #header, #header img, #menukiri, #conten {
		width: 100%;
	}
	#header {
		height: 100px;
	}
	#header img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
	}
	#menukiri {
		height: auto;
		margin-bottom: 5px;
	}
	#menukiri a {
		width: 100%;
		height: 20px;
		line-height: 20px;
	}
	#spasi {
		padding: 0;
		margin: 0;
	}
	#spasi a, #spasi img, #spasi a img {
		width: 99%;
		height: auto;
		max-height: inherit;
		display: block;
		padding: 5px 0 0 0px;
		margin: 0 auto 5px;
	}
}